[nginx-http-auth]
enabled  = true
port     = http,https
filter   = nginx-http-auth
logpath  = /var/log/nginx/error.log
maxretry = 3
bantime  = 1h

[nginx-botsearch]
enabled  = true
port     = http,https
filter   = nginx-botsearch
logpath  = /var/log/nginx/error.log
maxretry = 2
bantime  = 24h

[nginx-badbots]
enabled  = true
port     = http,https
filter   = nginx-badbots
logpath  = /var/log/nginx/access.log
maxretry = 1
bantime  = 48h

# Spezial-Jail für deinen "Catch-All" (Return 444)
[nginx-catchall]
enabled  = true
port     = http,https
filter   = nginx-catchall
logpath  = /var/log/nginx/access.log
# Wer auf eine falsche Domain zugreift, wird nach 3 Versuchen gebannt
maxretry = 3
findtime = 10m
bantime  = 12h