# Fallback for Port 80 (HTTP)
server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;

    # Disconnect immediately
    return 444; 
}

# Fallback for Port 443 (HTTPS)
server {
    listen 443 ssl default_server;
    listen [::]:443 ssl default_server;
    server_name _;

    # Use wildcard certificate
    ssl_certificate /etc/letsencrypt/live/{{ base_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ base_domain }}/privkey.pem;

    # Disconnect immediately
    return 444;
}