[nextcloud]
enabled  = true
port     = http,https
filter   = nextcloud
# Standard-Pfad für AIO Installationen
logpath  = /var/lib/docker/volumes/nextcloud_aio_nextcloud/_data/data/nextcloud.log
maxretry = 5
bantime  = 24h